body{
    background-color: #212529;
}

<<<<<<< HEAD
/* .credit{
=======
.credit{
    margin-top: 30vh;
}

.container{
>>>>>>> 8fb3818d75a1611f305b85f586e5bb9634868a56
    margin-top: 30vh;
} */

.container{
    margin-top: 10vh;
}